/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.circleContainer {
  --d: 0.8em; /* image size */
  --t: calc(var(--m) * var(--m) / 2);
  --rel: calc(
    50 / var(--t)
  ); /* how much extra space we want between images, 1 = one image size */
  --r: calc(0.5 * (1 + var(--rel)) * var(--d) / var(--tan)); /* circle radius */
  --s: calc(2 * var(--r) + var(--d)); /* container size */
  position: relative;
  max-width: 230px;
  height: 200px;
}

.circleContainer img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: calc(-0.5 * var(--d));
  width: var(--d);
  height: var(--d);
  --az: calc(var(--i) * 1turn / var(--m));
  -webkit-transform: rotate(var(--az)) translate(var(--r))
    rotate(calc(-1 * var(--az)));
  -ms-transform: rotate(var(--az)) translate(var(--r))
    rotate(calc(-1 * var(--az)));
  transform: rotate(var(--az)) translate(var(--r)) rotate(calc(-1 * var(--az)));
}
.circleContainer h3 {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  --az: calc(var(--i) * 1turn / var(--m));
  -webkit-transform: rotate(var(--az)) translate(var(--r))
    rotate(calc(-1 * var(--az)));
  -ms-transform: rotate(var(--az)) translate(var(--r))
    rotate(calc(-1 * var(--az)));
  transform: rotate(var(--az)) translate(var(--r)) rotate(calc(-1 * var(--az)));
  font-size: larger;
  color: #2b3332;
}

img {
  max-width: 100%;
}
