@import url(https://fonts.googleapis.com/css?family=Rajdhani|Shrikahand:i);

body {
  background-image: url(../public/Images/Bg-efeito.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffe6;
  font-family: Rajdhani;
  text-align: center;
}
div #synth {
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1 {
  margin-top: 150px;
  font-family: Shrikahand;
  font-style: italic;
  font-size: 48px;
  color: #2b3332;
}

.generalForm button {
  background-color: #2b3332;
  border: 2px solid #ffffe6;
  border-radius: 8px;
  color: #ffffe6;
}

#playPause {
  max-height: 15px;
  background-color: #f15a24;
  padding: 8px 5px;
}
.generalForm {
  background-image: url(../public/Images/BG-Bege-Horizontal.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #2b3332;
  margin-bottom: 2%;
  max-width: 800px;
  padding: 10px;
  display: flex;
  gap: 3px;
  justify-content: center;
  align-items: center;
}
.drums {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
}

.drum {
  background-image: url(../public/Images/BG-Bege-Vertical.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffe6;
  margin: 1%;
  height: auto;
  position: relative;
  padding: 10px;
  max-width: 230px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 160px;
  height: 6px;
  border-radius: 5px;
  background: #2b3332;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 30px;
  border: 0;
  background-image: url("../public/Icons/Slider.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.generalForm input[type="range"] {
  width: 490px;
}
.BeatContainer {
  border: 3px solid #ffffe6;
  border-radius: 16px;
}
.Volume {
  margin-top: 20px;
  display: flex;
  border: 3px solid #ffffe6;
  border-radius: 16px;
  justify-content: center;
}
.Volume button {
  background-color: transparent;
  border: transparent;
  max-width: 80px;
}
