/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url(https://fonts.googleapis.com/css?family=Rajdhani|Shrikahand:i);

body {
  background-image: url(../public/Images/Bg-efeito.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffe6;
  font-family: Rajdhani;
  text-align: center;
}
div #synth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
h1 {
  margin-top: 110px;
  font-family: Shrikahand;
  font-style: italic;
  font-size: 48px;
  color: #2b3332;
}
h2 {
  margin: 6px;
}

.generalForm button {
  background-color: #2b3332;
  border: 3px solid #ffffe6;
  border-radius: 8px;
  color: #ffffe6;
  font-size: medium;
}
#bpmDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid #ffffe6;
  border-radius: 8px;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4px;
}
#bpmDiv p {
  margin: 8px 5px;
  min-width: 56px;
}
#addBtn {
  padding: 10px 7px;
}
#helpBtn {
  padding: 10px 14px;
}
#playBtnInactive {
  background-color: #894426;
}
#playBtnActive {
  background-color: #f15a24;
}
#playPause {
  max-height: 15px;
  padding: 8px 7px;
}
.generalForm {
  background-image: url(../public/Images/BG-Bege-Horizontal.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #2b3332;
  margin-bottom: 2%;
  width: 1053px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.drums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 32px;
}

.drum {
  background-image: url(../public/Images/BG-Bege-Vertical.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffe6;
  margin: 1%;
  height: auto;
  position: relative;
  padding: 10px;
  max-width: 230px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 160px;
  height: 6px;
  border-radius: 5px;
  background: #2b3332;
  outline: none;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 40px;
  border: 0;
  background-image: url("../public/Icons/Slider.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.generalForm input[type="range"] {
  width: 640px;
  margin-right: 10px;
}
.BeatContainer {
  border: 3px solid #ffffe6;
  border-radius: 16px;
}
.BeatContainer input[type="range"] {
  margin-bottom: 20px;
}

.Volume {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid #ffffe6;
  border-radius: 16px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #2b3332;
  font-size: larger;
}
.Volume button {
  background-color: transparent;
  border: transparent;
  max-width: 60px;
  margin-top: 15px;
  display: inline-block;
  margin-left: 20px;
}
.Volume input[type="range"] {
  margin-top: 20px;
}
.Volume p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 3px solid #ffffe6;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: transparent;
  color: #ffffe6;
}

select option {
  margin: 40px;
  background: #2b3332;
  color: #ffffe6;
}
